body {
    margin: 0;
}

.bandeau-titre {
    position: fixed;
    background-color: #484D70;
    color: #FFFFFF;
    width: 100%;
    margin: 0px;
    text-align: center;
    border-bottom: solid 1px #FF0000;
}

.nom-frise {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 38px;
    padding-top: 38px;
}

#conteneur-noms-frises {
    background-color: #484D70;
    position: fixed;
    top: 80px;
    height: 100%;
    list-style: none;
}

#liste-noms-frises {
    font-size: 22px;
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}

.conteneur-frises {
    margin-top: 100px;
}

.miniItem0 {
    fill: #CCCCCC;
    fill-opacity: .5;
    stroke-width: 2;
    stroke: #00FFFF;
}

.miniItem1 {
    fill: darkolivegreen;
    fill-opacity: .5;
    stroke-width: 6;
    stroke: #00FFFF;
}

.miniItem2 {
    fill: slategray;
    fill-opacity: .5;
    stroke-width: 6;
    stroke: #00FFFF;
}

.miniItem3 {
    fill: #00CCCC;
    fill-opacity: .5;
    stroke-width: 2;
    stroke: #00FFFF;

}

.miniItem4 {
    fill: darkolivegreen;
    fill-opacity: .7;
    stroke-width: 6;
    stroke: #00FFFF;
}

.miniItem5 {
    fill: slategray;
    fill-opacity: .5;
    stroke-width: 6;
    stroke: #00FFFF;
}

.miniItem6 {
    fill: slategray;
    fill-opacity: .5;
    stroke-width: 6;
    stroke: #00FFFF;
}

.ligne-separation-frises {
    stroke: #AAAAAA;
}
