<!doctype html>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand">Frises interactives : Administration</span>
        </div>
<!--
        <ul class="nav navbar-nav pull-right">
            <li>
                <button ng-click="ouvrirModaleRenommer()" class="btn btn-default  navbar-btn">Renommer support</button>
            </li>
            <li>
                <button class="btn btn-success  navbar-btn" ng-click="exporterExcel()">Export Excel</button>
            </li>
        </ul>
-->
    </div>
</nav>